extends ../layouts/minimal

block title
  title Login

block content
  form.text-center(role='form' method='post' action='/login')
    h2 Login
    input.form-control(name='email' type='email' placeholder='Email' required autofocus maxlength='100' title='Maximal length is 100 chars')
    input.form-control(name='password' type='password' placeholder='Password' required pattern='.{6,}' title='Minimal length is 6 chars')
    button.btn.btn-lg.btn-primary.btn-block.btn-margin(type='submit') Log in

    a(href='/signup') Sign up
    br
    a(href='/forgot') Restore password
