extends ../layouts/minimal

block title
  title Login

block content
  form.text-center(role='form' method='post' action='/login')
    h2 Login
    input.form-control(name='email' type='email', placeholder='Email', required='', autofocus='')
    input.form-control(name='password' type='password', placeholder='Password', required='')
    button.btn.btn-lg.btn-primary.btn-block.btn-margin(type='submit') Log in

    a(href='/signup') Sign up
    br
    a(href='/password-restore') Restore password
