extends ../layouts/default
block title
  title Create new milestone
block link
  - var selected = 'Projects'
block content
  .col-md-4
  .col-md-4.text-center
    h2 Create Milestone
    form.form-horizontal(role='form' method='post' action='/milestones')
      input(type='hidden' name='project' value=project.id)
      .form-group
        label.col-sm-4.control-label(for='inputName') Name
        .col-sm-8
          input#inputName.form-control(name='name' type='text' placeholder='Name' required autofocus maxlength='100' title='Maximal length is 100 chars')
      .form-group
        label.col-sm-4.control-label(for='inputDescription') Complete
        .col-sm-8
          input#inputComplete.form-control(type='number' name='complete' placeholder='Complete' min='0' max='100' title='Range is from 0 to 100')
      .form-group
        label.col-sm-4.control-label(for='inputNumber') Number
        .col-sm-8
          input#inputComplete.form-control(type='number' name='number' placeholder='Number' min='0' max='1000000' title='Range is from 0 to 1 000 000')
      .text-center
        button.btn.btn-success(type='submit') Create
