extends ../layouts/minimal
block title
  title Sign up
block content
  form.text-center(role='form' method='post' action='/signup')
    h2 Signup
    input.form-control(name='email' type='email' placeholder='Email' required autofocus maxlength='100')
    input.form-control(name='password' type='password' placeholder='Password' required pattern='.{6,}')
    input.form-control(name='firstName' type='password' placeholder='First Name' required maxlength='100' pattern='.{3,100}')
    input.form-control(name='lastName' type='password' placeholder='Last Name' required maxlength='100' pattern='.{3,100}')
    button.btn.btn-lg.btn-primary.btn-block.btn-margin(type='submit') Sign up
    a(href='/login') Log in
