extends ../layouts/default
block title
  title Welcome!
block content
  .jumbotron
    h1 Welcome!
    p This is home page
    p
      a.btn.btn-lg.btn-success(href='/projects', role='button') Go to projects
