doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='/favicon.ico')
    block title
      title Application
    link(href='/css/lib.css', rel='stylesheet')
    link(href='/css/default.css', rel='stylesheet')

  body
    include ../partials/navigation
    .container
      include ../partials/flash-dismissible
      block content

script(src='/js/default.js')
